<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>RC-WebView Help</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />  

		<link rel="shortcut icon" type="image/x-icon" href="@Href("~/favicon.ico")">

		<style type="text/css">
			body {
				width: 100%;
				height: 100%;
				margin: 0;
				padding: 0;
			}

			.fullscreen {
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				border: 0px;
				margin: 0;
				padding: 0;
			}
		</style>

		
	</head>
	<body>
		<iframe id="docIframe" class="fullscreen" frameborder="0"></iframe>

        <script type="text/javascript">
            var dojoConfig = {
                isDebug:false,
                async: true,
                baseUrl: "@Href("~/144064")",
                packages: [
                    { name: "dojo", location: "dojo/dojo" }
                ]
            };
		</script>
		
		<script type="text/javascript" src="@Href("~/144064/dojo/dojo/dojo.js")"></script>
        <script type="text/javascript">
            // Require the registry, parser, Dialog, and wait for domReady
            require(["dojo/parser", "dojo/domReady!"]
            , function (parser) {
                // Explicitly parse the page
                parser.parse();
            });
        </script>

		<script type="text/javascript">
		    require(["dojo/dom", "dojo/domReady!"], function (dom) {
		        var i = window.location.href.indexOf("#");
		        var h = (i >= 0) ? window.location.href.substring(i + 1) : "";
		        if (h.length) {
		            h = "[[" + h + "]]";
		        }
		        // Don't use hash for now, leaving this ^ here in case it's reused in CSH implementation.

		        
                // Get online status of user from the ViewBag.
		        var online = "@ViewBag.online";

                // If the user is online, get the online help files. If not, get the offline help files. 
				if (online == "@true") {
				    dom.byId("docIframe").src = "@ViewBag.helpURL";
				} else {
				    dom.byId("docIframe").src = require.toUrl("@Href(@ViewBag.helpFile)");
				}

			});

		</script>
	</body>
</html>
