<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />

        <title>SAML Login</title>
                
        <link rel="shortcut icon" type="image/x-icon" href="@Href("~/favicon.ico")">
		<link rel="apple-touch-icon" href="@Href("~/globe.png")" />
		<link rel="stylesheet" media="screen,projection" type="text/css" href="@Href("~/144064/webview/themes/reliable/rc.css")" />
		<link rel="stylesheet" media="screen,projection" type="text/css" title="currentTheme" href="@Href("~/144064/rc/themes/rcblack/rcblack.css")" />
        <link rel="stylesheet" media="screen,projection" type="text/css" href="@Href("~/144064/webview/themes/rcblack/rcblack.css")" />
        <link rel="stylesheet" media="screen,projection" type="text/css" href="@Href("~/144064/webview/themes/rcblack/Common.css")" />
        <link rel="stylesheet" media="print" type="text/css" href="@Href("~/144064/webview/themes/print/print.css")" />
           
        <script type="text/javascript" src="@Href("~/144064/rc/locale.js")"></script>
        <script type="text/javascript">
            var locale = getLocale();
            var dojoConfig = {
                locale: locale,
                isDebug:false,
                async: true,
                baseUrl: "@Href("~/144064")",
                packages: [
					{ name: "dojo", location: "dojo/dojo" }
                ]
            };
        </script> 
        <script type="text/javascript" src="@Href("~/144064/dojo/dojo/dojo.js")"></script>

        <script type="text/javascript">

            var theRedirect = '@(ViewBag.redirect)';    //Initial page once logged into webview.

            require(["dojo/_base/lang", "dojo/cookie", "dojo/has", "dojo/io-query", "dojo/domReady!"], function (lang, cookie, has, ioQuery) {
                
                var id = cookie('ses');

                if (id) {

                    var expires = (id != null) ? '' : -1;

                    var props = {
                        expires: expires
                    };

                    if (!has('ie')) {
                        lang.mixin(props, {
                            path: '/'
                        })
                    }

                    //cookies
                    cookie("ses", id, props);

                    // Handle case where protocol is https yet IIS runs the application with http binding.
                    if (window.location.protocol == "https:" && theRedirect.indexOf("http:") > -1)
                    {
                        theRedirect = theRedirect.replace("http:", "https:");   //Resolves EHI's scenario where https implemented outside of IIS.
                    }
                                        
                    //redirect                              
                    window.location.href = theRedirect;
                    return;
                }
            });
        </script>
    </head>

    <body class="rc">        
		<noscript>
			<div class="error">
				<h2><span class="rcBigWarningIcon"></span>Your browser has Javascript disabled!</h2>
				<p>Web View interface requires Javascript to run.</p>
				<p>Enable Javascript on this browser.</p>
			</div>
		</noscript>        
		<div class="mpwLogin offscreen"></div>  <!-- Renders "loading" graphic. -->      
    </body>

</html>